{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Insert some nice info here</h2>
            <h3>Put some more info here</h3>
            <div>
                <button class="bt btn-primary">Documentation on How API works!</button>
                <button class="bt btn-primary">Accessing the API!</button>
            </div>
        </div>
    </header>
</div>

{% endblock content %}